/*Images*/
.circle-image{
    width:160px;
    height:160px;
    border-radius:50%;
    display:inline-block;
    background-position-y:25%; 
    background-size: cover;
    margin: 19px;
}

#john{ 
  background-image:url('./images/john.jpg');
}

#kate{ 
  background-image:url('./images/kate.jpg');
  background-position-x: -72px;
  background-size: 180%;
  background-position-y: -29px;
}

#drew{ 
  background-image:url('./images/drew.jpg');
}

.photoContainer{ 
    display: flex;
    justify-content: space-between;
    min-width: 596px;
    max-width: 800px;
    margin: auto;
}

/*Nav Button*/
.nav-btn {
  position: fixed;
  z-index: 8;
  top: 1em;
  left: 1em;
}

/* Energy Charts */
.axis path,
.axis line { 
  fill: none;
  stroke: black;
  shape-rendering: geometricPrecision;
}

.graphOuterContainer { 
  width: auto !important;
  height: auto !important;
  padding: 12px;
}

.axis text {
  font-size: 1rem;
}

.linePath {
  fill: none;
  stroke-width: 2;
  stroke: #58C1BE;
}

.energyPath {
  fill: none;
  stroke-width: 2;
  stroke: #58C1BE;
}

.linePoint {
  r: 6;
}

.currentTimeBar {
  fill: blue;
  opacity: 0.5;
}

.timeBarTitle {
  text-anchor: end;
  fill: blue;
  opacity: 0.65;
}

.predictPoint {
  r: 3;
  fill: #8080FF;
}

.focusXLine {
  stroke: blue;
  stroke-dasharray: 3,3;
  opacity: 0.5;
}

.focusYLine {
  stroke: blue;
  stroke-dasharray: 3,3;
  opacity: 0.5;
}

.disablePad {
  fill: grey;
  opacity: 0.75;
}

.info {
  /*text-rendering: optimizeLegibility;*/
}

.highlight {
  stroke: white;
  stroke-width: 0.33rem;
  opacity: 0.75;
}

.dangerBlock {
  fill: #FC6E51;
  opacity: 0.2;
  stroke: black;
  stroke-width: 0.5;
}

.axisScale {
  font-weight: bold;
  font-size: 1.1rem;
}

.scrollText {
  font-weight: bold;
  text-rendering: optimizeLegibility;
  opacity: 0.35;
}

.graphCircle {
  r: 2rem;
  fill: grey;
}
.graphArrow {
  fill: white;
  opacity: 0.5;
}
.graphButton {
  position: relative;
  z-index: 10;
}
.graphButton:hover {
  opacity: 1;
}


.tick text{ 
  fill: black;
}

/*Energy Modals*/
.source1 *:not(text), path.source1{ 
  fill: #94D9BB;
  stroke: #94D9BB;
}
.source2 *:not(text), path.source2{ 
  fill: #FFDE55;
  stroke: #FFDE55;
}
.source3 *:not(text), path.source3{ 
  fill: #F6BB42;
  stroke: #F6BB42;
}
.source4 *:not(text), path.source4{ 
  fill: #FC6E51;
  stroke: #FC6E51;
}

#donutModal { 
  z-index: 9;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/*Light Bulb*/
.bulb1 {
    max-width: 100px;
    margin: auto;
    display: block;
    position: relative;
}

.bulb2 { 
  margin: auto;
  display: block;
  position: relative;
  max-width: 500px;
}

.bulb2 > svg { 
  left: 50px;
  top: 9px;
  -webkit-filter: blur(5px);
}

.bulb1 > svg { 
  left: 20px;
  top: 3px;
  -webkit-filter: blur(3px);  
}

.bulbContainer1{ 
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  margin: auto;
}

.bulbContainer2{ 
  width: 250px;
  height: 250px;
  position: relative;
  display: block;
  margin: auto;
}

.bulb, #donutModal{ 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*Forms*/

.loginDialog, .signupDialog { 
  min-width: 304px;
}

.LoginContainer{ 
  text-align: center;
}

.SignupContainer { 
  float: left;
}

#SignUpFailure{ 
  float:right;
  margin-top: 140px;
}

div.login {
  width: 500px;
}

.spinner-container {
  text-align: center;
  visibility: hidden;
  margin: 9px;
}

.graphOuterContainer .spinner-loader {
  /*visibility: visible;*/
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-failure {
  text-align: center;
  visibility: hidden;
}

.form-status {
  position: relative;
  width: 100%;
}

.pge-update-failure {
  position: absolute;
  visibility: hidden;
  top: 0;
  height: 100px;
  left: 50px;
  right: 50px;
  color: red;
  font-size: 2em;
}

.pge-update-success {
  position: absolute;
  visibility: hidden;
  top: 0;
  height: 100px;
  left: 50px;
  right: 50px;
  color: lightblue;
  font-size: 2em;
}

/*Profile View*/
#profile-header {
  margin: 80px 0px 5em 120px;
  font-size: 3.25em;
}
.summary-container {
  margin-top: 20px;
}
.week-summary-header {
  text-align: center;
}

#weekStart { 
  margin-top: 0px !important;
  font-size: 19px !important;
  margin-bottom: 0px !important;
}

#totalenergyused, #explain { 
  font-size: 15px;
  margin-top: 0px;
}

.creator-name{ 
   font-size: 20px;
  margin: 2px !important;
}

#explain { 
  text-align: center;
}

#lastweekKWH { 
  font-weight: 500;
}

.energy-bar-graph rect{
  stroke: white;
}

.energy-bar-graph{ 
  width: 600px;
  margin: 0px !important;
  height: 100px;
  position: absolute;
  top: 10px;
  right: -112px;
}

.update-pge-form {
  width:100%;
  text-align: center;
}

.app-title {
  text-align: center;
  margin-bottom: 2em;
}

.energy-bar-graph .Green {
  fill: #94D9BB;
}

.energy-bar-graph .Red {
  fill: #FC6E51;
}

svg {
  display: block;
  position: relative;
  margin: auto;
  vertical-align: top;
  overflow: hidden;
}


@media(max-width:768px) {
  #SignUpFailure{ 
    float: left;
    margin-top: 0px;
  }
  #profile-header{ 
    font-size: 2.25em;
    margin: 80px 0px 5em 20px; 
  }

  .energy-bar-graph{ 
    width: 600px;
    margin: 0px !important;
    height: 100px;
    position: static;
  }
}



