/*Nav Button*/
.nav-btn {
  position: absolute;
  top: 1em;
  left: 1em;
}

/*User Profile*/
.update-pge-form {
  width:100%;
  text-align: center;
}

.app-title {
  text-align: center;
  margin-bottom: 2em;
}

.energy-bar-graph .Green {
  fill: green;
}

.energy-bar-graph .Yellow {
  fill: yellow;
}

.energy-bar-graph .Red {
  fill: red;
}
/* Energy Charts */
.axis path,
.axis line { 
  fill: none;
  stroke: black;
  shape-rendering: geometricPrecision;
}

.graphOuterContainer { 
  width: auto !important;
  height: auto !important;
  padding: 12px;
}

.axis text {
  font-size: 1rem;
}

.linePath {
  fill: none;
  stroke-width: 2;
  stroke: #58C1BE;
}

.energyPath {
  fill: none;
  stroke-width: 2;
  stroke: #58C1BE;
}

.linePoint {
  r: 6;
}

.currentTimeBar {
  fill: blue;
  opacity: 0.5;
}

.predictPoint {
  r: 3;
  fill: #8080FF;
}

.focusXLine {
  stroke: blue;
  stroke-dasharray: 3,3;
  opacity: 0.5;
}

.focusYLine {
  stroke: blue;
  stroke-dasharray: 3,3;
  opacity: 0.5;
}

.disablePad {
  fill: grey;
  opacity: 0.75;
}

.highlight {
  stroke: white;
  stroke-width: 0.33rem;
  opacity: 0.75;
}

.dangerBlock {
  fill: red;
  opacity: 0.18;
}

.axisScale {
  font-weight: bold;
  font-size: 1.1rem;
}
svg {
  display: block;
  position: relative;
  margin: auto;
  vertical-align: top;
  overflow: hidden;
}
.tick text{ 
  fill: black;
}

/*Energy Modals*/
.source1 *:not(text), path.source1{ 
  fill: #F6BB42;
  stroke: #F6BB42;
}
.source2 *:not(text), path.source2{ 
  fill: #FFDE55;
  stroke: #FFDE55;
}
.source3 *:not(text), path.source3{ 
  fill: #94D9BB;
  stroke: #94D9BB;
}
.source4 *:not(text), path.source4{ 
  fill: #58C1BE;
  stroke: #58C1BE;
}

#donutModal { 
  z-index: 9;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/*Light Bulb*/
.bulb1 {
    max-width: 100px;
    margin: auto;
    display: block;
    position: relative;
}

.bulb2 { 
  margin: auto;
  display: block;
  position: relative;
  max-width: 500px;
}

.bulb2 > svg { 
  left: 50px;
  top: 9px;
  -webkit-filter: blur(5px);
}

.bulb1 > svg { 
  left: 20px;
  top: 3px;
  -webkit-filter: blur(3px);  
}

.bulbContainer1{ 
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  margin: auto;
}

.bulbContainer2{ 
  width: 250px;
  height: 250px;
  position: relative;
  display: block;
  margin: auto;
}

.bulb, #donutModal{ 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*Forms*/

.loginDialog, .signupDialog { 
  min-width: 304px;
}

.LoginContainer{ 
  text-align: center;
}

.SignupContainer { 
  float: left;
}

#SignUpFailure{ 
  float:right;
  margin-top: 140px;
}

div.login {
  width: 500px;
}

.spinner-container {
  text-align: center;
  visibility: hidden;
  margin: 9px;
}

.graphOuterContainer .spinner-loader {
  /*visibility: visible;*/
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.login-failure {
  text-align: center;
  visibility: hidden;
}

.form-status {
  position: relative;
  width: 100%;
}

.pge-update-failure {
  position: absolute;
  visibility: hidden;
  top: 0;
  height: 100px;
  left: 50px;
  right: 50px;
  color: red;
  font-size: 2em;
}

.pge-update-success {
  position: absolute;
  visibility: hidden;
  top: 0;
  height: 100px;
  left: 50px;
  right: 50px;
  color: lightblue;
  font-size: 2em;
}

@media(max-width:768px) {
  #SignUpFailure{ 
    float: left;
    margin-top: 0px;
  }
}

.tick text{ 
  fill: black;
}

#donutModal { 
  z-index: 10;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/*Profile View*/
.profile-header {
  margin-left: 6em;
}
.summary-container {
  margin-top: 20px;
}
.week-summary-header {
  text-align: center;
}
