div.login {
  width: 500px;
}
.spinner-container {
  text-align: center;
  visibility: hidden;
}
.login-failure {
  text-align: center;
  visibility: hidden;
}

.axis { 
  fill: none
}

.x.axis {
  stroke: black; 
}

.y.axis {
  stroke: black;
}

.linePoint {
  r: 6;
}