/*Nav Button*/
.nav-btn {
  position: absolute;
  top: 1em;
  left: 1em;
}

div.login {
  width: 500px;
}
.spinner-container {
  text-align: center;
  visibility: hidden;
}
.login-failure {
  text-align: center;
  visibility: hidden;
}


/* Energy Charts */
.axis { 
  fill: none
}

.x.axis {
  stroke: black; 
}

.y.axis {
  stroke: black;
}

.linePath {
  fill: none;
  stroke-width: 2;
  stroke: steelblue;
}

.energyPath {
  fill: none;
  stroke-width: 2;
  stroke: steelblue;
}

.linePoint {
  r: 6;
}

/*Light Bulb*/
.bulb {
  position: absolute;
  left: 75%;
  top: 15%;
}
