/*Nav Button*/

.nav-btn {
  position: absolute;
  top: 1em;
  left: 1em;
}

/*User Profile*/
.update-pge-form {
  width:100%;
  text-align: center;
}

.app-title {
  text-align: center;
  margin-bottom: 2em;
}


/* Energy Charts */
.axis { 
  fill: none
}

.x.axis {
  stroke: black; 
}

.y.axis {
  stroke: black;
}

.linePath {
  fill: none;
  stroke-width: 2;
  stroke: steelblue;
}

.energyPath {
  fill: none;
  stroke-width: 2;
  stroke: steelblue;
}

.linePoint {
  r: 6;
}

.currentTimeBar {
  fill: blue;
  opacity: 0.5;
}

.predictPoint {
  r: 3;
  fill: black;
}

.focusXLine {
  stroke: blue;
  stroke-dasharray: 3,3;
  opacity: 0.5;
}

.focusYLine {
  stroke: blue;
  stroke-dasharray: 3,3;
  opacity: 0.5;
}

.disablePad {
  fill: grey;
  opacity: 0.75;
}

.highlight {
  stroke: white;
  stroke-width: 0.33rem;
  opacity: 0.75;
}

/*Light Bulb*/
.bulb {
    max-width: 100px;
    margin: auto;
    display: block;
    position: relative;
}
/*Forms*/

div.login {
  width: 500px;
}

.spinner-container {
  text-align: center;
  visibility: hidden;
}

.login-failure {
  text-align: center;
  visibility: hidden;
}

.form-status {
  position: relative;
  width: 100%;

}

.pge-update-failure {
  position: absolute;
  visibility: hidden;
  top: 0;
  height: 100px;
  left: 50px;
  right: 50px;
  color: red;
  font-size: 2em;
}

.pge-update-success {
  position: absolute;
  visibility: hidden;
  top: 0;
  height: 100px;
  left: 50px;
  right: 50px;
  color: lightblue;
  font-size: 2em;
}

.test1, .test2{
  display: inline;
}

svg {
    display: block;
    position: relative;
    margin: auto;
    vertical-align: top;
    overflow: hidden;
}

.tick text{ 
  fill: black;
}

.bulbcontainer{ 
  width: 100px;
  height: 100px;
  position: relative;
  display: block;
  margin: auto;
}



.bulb, .img-responsive{ 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-responsive{ 
  z-index: 10;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
